CMakeLists.txt.user
CMakeCache.txt
Makefile
CMakeFiles
CMakeScripts
Testing
cmake_install.cmake
install_manifest.txt
compile_commands.json
CTestTestfile.cmake
_deps
*.so
*.o
*.dylib
a.out
softsdfinit
*.key
*.pem
build*
.DS_Store
